{
    "app": {
        "host": "0.0.0.0",
        "port": 1256
    },
    "db": {
        "type": "sqlite"
    },
    "packages": {
        "nuclei": {
            "request_timeout": 2000
        },
        "subenum": {
            "request_timeout": 2000
        }
    }
}