{
    "app": {
        "host": "15.204.246.162",
        "port": 1256
    },
    "db": {
        "type": "sqlite"
    },
    "packages": {
        "nuclei": {
            "timeout": 2000
        }
    }
}